In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime

In [2]:
### Get Stock Data

In [3]:
start_date = '2016-01-01'
end_date = '2020-05-01'
stocks = ['Amazon', 'Apple', 'Alibaba','Boeing', 'Facebook', 'Google','Microsoft', 'Netflix', 'Nvidia', 'SPY', 'Tesla']
tickers = ['AMZN', 'AAPL', 'BABA', 'BA', 'FB', 'GOOGL', 'MSFT', 'NFLX', 'NVDA' ,'SPY', 'TSLA']

data = yf.download(tickers, 
                      start=start_date, 
                      end=end_date, 
                      progress=False)
data.head()

            Adj Close                                                 \
                 AAPL        AMZN          BA       BABA          FB
Date
2016-01-04  97.948441  636.989990  125.039230  76.690002  102.220001
2016-01-05  95.493919  633.789978  125.546516  78.629997  102.730003
2016-01-06  93.625145  632.650024  123.553009  77.330002  102.970001
2016-01-07  89.673714  607.940002  118.373428  72.720001   97.919998
2016-01-08  90.147873  607.049988  115.685776  70.800003   97.330002

                                                                      ...  \
                 GOOGL       MSFT        NFLX       NVDA         SPY  ...
Date                                                                  ...
2016-01-04  759.440002  50.258858  109.959999  31.691172  184.835175  ...
2016-01-05  761.530029  50.488148  107.660004  32.200256  185.147781  ...
2016-01-06  759.330017  49.571011  117.680000  30.868780  182.812286  ...
2016-01-07  741.000000  47.846802  114.559998  29.644997  178.426331  ...
2016-01-08  730.909973  47.993549  111.389999  29.008627  176.467850  ...

             Volume                                                            \
               AMZN       BA      BABA        FB    GOOGL      MSFT      NFLX
Date
2016-01-04  9314500  5719500  23066300  37912400  3369100  53778000  20794800
2016-01-05  5822600  3357000  14258900  23258200  2260800  34079700  17664600
2016-01-06  5329200  4254100  11569300  25096200  2410300  39518900  33045700
2016-01-07  7074900  7013700  27288100  45172900  3156600  56564900  33636700
2016-01-08  5512900  5776900  20814600  35402300  2375300  48754000  18067100


                NVDA        SPY     TSLA
Date
2016-01-04   8951900  222353500  6827100
2016-01-05  12256800  110845800  3186800
2016-01-06  11233600  152112600  3779100
2016-01-07  16132600  213436100  3554300
2016-01-08   9961800  209817200  3628100

[5 rows x 66 columns]

In [4]:
data = data['Adj Close']
data.tail()

,AAPL,AMZN,BA,BABA,FB,GOOGL,MSFT,NFLX,NVDA,SPY,TSLA
Date,,,,,,,,,,,
2020-04-24,282.206085,2410.219971,128.979996,204.360001,190.070007,1276.599976,174.065216,424.989990,289.457886,282.970001,725.150024
2020-04-27,282.405548,2376.000000,128.679993,203.690002,187.500000,1270.859985,173.566605,421.380005,296.944458,287.049988,798.750000
2020-04-28,277.827911,2314.080078,131.300003,201.149994,182.910004,1232.589966,169.338379,403.829987,291.227081,285.730011,769.119995
2020-04-29,286.953247,2372.709961,139.000000,206.699997,194.190002,1342.180054,176.937210,411.890015,298.323853,293.209991,800.510010
2020-04-30,293.006836,2474.000000,141.020004,202.669998,204.710007,1346.699951,178.712280,419.850006,292.146667,290.480011,781.880005

In [5]:
### Update the data

In [6]:
def update(data):
    today = datetime.date.today()
    if data.index[-1].date() < today:
        new_data = yf.download(tickers, start=data.index[-1]+datetime.timedelta(days=1), end=today)
        new_data = new_data['Adj Close']
        return pd.concat([data, new_data])
    else: return data

In [7]:
updated_data = update(data)
updated_data = round(updated_data,3)
updated_data.to_csv('stock_price.csv')
updated_data.tail()

[*********************100%***********************]  11 of 11 completed

,AAPL,AMZN,BA,BABA,FB,GOOGL,MSFT,NFLX,NVDA,SPY,TSLA
Date,,,,,,,,,,,
2020-06-09,343.99,2600.86,216.74,220.72,238.67,1452.08,189.80,434.05,361.84,320.79,940.67
2020-06-10,352.84,2647.45,203.41,223.68,236.73,1464.70,196.84,434.48,374.67,319.00,1025.05
2020-06-11,335.90,2557.96,170.00,215.24,224.43,1401.90,186.27,425.56,351.85,300.61,972.84
2020-06-12,338.80,2545.02,189.51,217.64,228.58,1412.92,187.74,418.07,357.30,304.21,935.28
2020-06-15,342.99,2572.68,190.94,217.03,232.50,1420.74,188.94,425.50,366.95,307.05,990.90

In [8]:
### Upload to Google Drive/Download from Google Drive

In [9]:
# Authentication to Google Drive
from googleapiclient.discovery import build
from MyAuth import *

SCOPES = "https://www.googleapis.com/auth/drive"
CLIENT_SECRET_FILE = "client_id.json"
credentials = MyAuth(client_secret_filename=CLIENT_SECRET_FILE, scopes=SCOPES).get_credentials()
drive_service = build('drive', 'v3', credentials=credentials)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=922189241567-2n5n5ejent9hpavpubqofaeig1m3ldq5.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&state=FNoNNRkdosu70K4HVpImEKJWKlWU60&access_type=offline

In [10]:
# Upload Data to Google Drive
from apiclient.http import MediaFileUpload

drive_file_name = 'stock_price.csv'
drive_file_mimeType = 'text/csv'

local_file_name = 'stock_price.csv'
local_file_mimeType = 'text/csv'

# Create the request metatdata, letting drive API know what it's receiving.
# In this example, we place the image inside the shared drive root folder,
# which has the same ID as the shared drive itself, but we could instead
# choose the ID of a folder inside the shared drive.

drive_metadata = {
        'name': drive_file_name,
        'mimeType': drive_file_mimeType,
        'parents': ['parent_file_id']}

# Now create the media file upload object and tell it what file to upload,
# in this case, "wakeupcat.jpg"

local_data = MediaFileUpload(local_file_name, mimetype=local_file_mimeType)

# Upload the file, making sure supportsAllDrives=True to enable uploading
# to shared drives.
file = drive_service.files().create(
        body=drive_metadata, media_body=local_data, supportsAllDrives=True).execute()

print("Created file '%s' id '%s'." % (file.get('name'), file.get('id')))
print(file)

Created file 'stock_price.csv' id '1tZuarBufHTtotqMcxv5x0AMZ7XwUaPEY'.
{'kind': 'drive#file', 'id': '1tZuarBufHTtotqMcxv5x0AMZ7XwUaPEY', 'name': 'stock_price.csv', 'mimeType': 'text/csv'}

In [11]:
# Download Data from GoogleDrive
import io
import shutil 
from googleapiclient.http import MediaIoBaseDownload


file_id = 'file_id'
file_type = 'text/csv'
output_file = 'drive_stock_data.csv'


# download
request = drive_service.files().export(fileId=file_id, mimeType=file_type)

fh = io.BytesIO()
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%" % int(status.progress() * 100))

# The file has been downloaded into RAM, now save it in a file
fh.seek(0)
with open(output_file, 'wb') as f:
    shutil.copyfileobj(fh, f, length=131072)

print("Download Stock data '%s' from Google Drive, id '%s'." % (output_file, file_id))

Download 100%
Download Stock data 'drive_stock_data.csv' from Google Drive, id '1kuPyeWGjWX8T8HvSVhEbKfFTXZFx77fBgfJrRwMVzHI'.

In [12]:
# read data and update

In [13]:
data = pd.read_csv(output_file, index_col='Date')
data.index = pd.to_datetime(data.index) 
data.tail()

,AMZN,AAPL,BABA,BA,FB,GOOGL,MSFT,NFLX,NVDA,SPY,TSLA
Date,,,,,,,,,,,
2020-05-20,2497.94,319.23,216.79,133.32,229.97,1409.16,185.66,447.67,358.80,296.93,815.56
2020-05-21,2446.74,316.85,212.16,139.00,231.39,1406.75,183.43,436.25,351.01,294.88,827.60
2020-05-22,2436.88,318.89,199.70,137.53,234.91,1413.24,183.51,429.32,361.05,295.44,816.88
2020-05-26,2421.86,316.73,201.72,144.73,232.20,1421.37,181.57,414.77,348.71,299.08,818.87
2020-05-27,2410.39,318.11,201.18,149.52,229.14,1420.28,181.81,419.89,341.01,303.53,820.23

In [14]:
updated_data = round(update(data),3)
updated_data.tail()

[*********************100%***********************]  11 of 11 completed

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,AAPL,AMZN,BA,BABA,FB,GOOGL,MSFT,NFLX,NVDA,SPY,TSLA
Date,,,,,,,,,,,
2020-06-09,343.99,2600.86,216.74,220.72,238.67,1452.08,189.80,434.05,361.84,320.79,940.67
2020-06-10,352.84,2647.45,203.41,223.68,236.73,1464.70,196.84,434.48,374.67,319.00,1025.05
2020-06-11,335.90,2557.96,170.00,215.24,224.43,1401.90,186.27,425.56,351.85,300.61,972.84
2020-06-12,338.80,2545.02,189.51,217.64,228.58,1412.92,187.74,418.07,357.30,304.21,935.28
2020-06-15,342.99,2572.68,190.94,217.03,232.50,1420.74,188.94,425.50,366.95,307.05,990.90

In [15]:
### Connect to MongoDB and Save Data

In [16]:
import dns
import pymongo

client = pymongo.MongoClient()
# client = pymongo.MongoClient("mongodb://Newuser:@cluster0-ujbuf.mongodb.net/test?retryWrites=true&w=majority")
db = client['DB']
data_dict = updated_data.to_dict(orient = 'records')
db['Stock'].insert_many(data_dict)

In [17]:
### Calculate statistics

In [18]:
def stats_func(data):
    stock_data = data.copy()
    tickers = stock_data.columns
    for ticker in tickers:  
#         stock_data[ticker +'_return'] = (np.log(stock_data[ticker]) - np.log(stock_data[ticker].shift(1)))*100
        stock_data[ticker +'_return'] = stock_data[ticker].pct_change()*100
        stock_data[ticker + '_momentum'] = stock_data[ticker]-stock_data[ticker].shift(12)
        stock_data[ticker +'_diff'] = stock_data[ticker].diff()
        stock_data[ticker + '_MA5'] = stock_data[ticker].rolling(5).mean()
        
    return stock_data

In [19]:
### Multi-Processing

In [20]:
import time
import multiprocessing
from multiprocessing import Process

updated_data = updated_data[tickers]
data_set = np.array_split(updated_data, multiprocessing.cpu_count())

p = multiprocessing.Pool(multiprocessing.cpu_count())
time_start=time.time()
res = p.map(stats_func, data_set)
time_end=time.time()
result = pd.concat(res)
p.close()
p.join()
print('time cost',round((time_end-time_start)*1000,2),'ms')

time cost 165.54 ms

In [21]:
# Corrlation Calcul
return_list = [col for col in result.columns if 'return' in col]
correlation = result[return_list].corr()

corr_df = pd.DataFrame([(i.split('_')[0],j.split('_')[0], round(correlation[i][j],2)) for i in return_list for j in return_list], columns=['stock1', 'stock2', 'corr'])
corr_df.tail()

    stock1 stock2  corr
116   TSLA   MSFT  0.38
117   TSLA   NFLX  0.31
118   TSLA   NVDA  0.34
119   TSLA    SPY  0.42
120   TSLA   TSLA  1.00

In [22]:
# Calc yearly return
yearly_return = pd.DataFrame(columns=tickers)
year_list = result.index.year.unique()

for year in year_list:
    yearly_return.loc[str(year)] = round(100*(updated_data[str(year)].iloc[-1]/updated_data[str(year)].iloc[0]-1), 2)
yearly_return.loc['total'] = round(100*(updated_data.iloc[-1]/updated_data.iloc[0]-1),2)

yearly_return.reset_index(inplace=True)
yearly_return.columns = [' ']+ stocks
yearly_return

,,Amazon,Apple,Alibaba,Boeing,Facebook,Google,Microsoft,Netflix,Nvidia,SPY,Tesla
0,2015,119.07,-2.08,-21.55,14.09,33.41,46.92,21.88,129.45,66.46,1.29,9.44
1,2016,17.72,12.39,14.50,15.43,12.55,4.35,16.50,12.59,232.91,13.59,-4.35
2,2017,55.17,48.04,94.62,93.11,51.00,30.37,39.74,50.57,90.43,20.78,43.49
3,2018,26.32,-7.05,-25.36,10.78,-27.74,-2.63,20.22,33.12,-32.85,-5.25,3.83
4,2019,20.06,88.74,55.16,2.92,51.28,26.99,58.26,20.89,73.41,31.09,34.89
5,2020,35.55,14.78,-1.25,-42.37,10.83,3.80,18.28,29.01,53.04,-4.93,130.30
6,total,733.88,243.18,109.49,69.29,196.37,168.29,352.56,753.58,1791.98,65.91,351.83

In [23]:
# Calc Portfolio
def build_hierarchical_dataframe(df, levels, value_column, color_columns=None):
    """
    Build a hierarchy of levels for Sunburst or Treemap charts.

    Levels are given starting from the bottom to the top of the hierarchy,
    ie the last level corresponds to the root.
    """
    df_all_trees = pd.DataFrame(columns=['id', 'parent', 'value', 'color'])
        
    for i, level in enumerate(levels):
        df_tree = pd.DataFrame(columns=['id', 'parent', 'value', 'color'])
        dfg = df.groupby(levels[i:]).sum()
        dfg = dfg.reset_index()
        df_tree['id'] = dfg[level].copy()
        if i < len(levels) - 1:
            df_tree['parent'] = dfg[levels[i+1]].copy()
        else:
            df_tree['parent'] = 'Portfolio'
        df_tree['value'] = dfg[value_column]
        if color_columns:
            df_tree['color'] = dfg[color_columns[0]]
            
        df_all_trees = df_all_trees.append(df_tree, ignore_index=True)
    total = pd.Series(dict(id='Portfolio', parent='',
                              value=df[value_column].sum()))
    df_all_trees = df_all_trees.append(total, ignore_index=True)
    if color_columns:
        df_all_trees['color'].fillna(df[color_columns[0]].sum(), inplace = True)
    return df_all_trees

In [24]:
portf=pd.DataFrame()
portf['level_0'] = ['Equities', 'Equities','Fixed Income', 'Fixed Income', 'Commodities', 'Cash']
portf['level_1'] = ['Stocks', 'Equity Derivatives', 'Bonds','Bond Derivatives', 'Futures', '']
portf['value'] = [500, 260, 200, 140, 200, 150]
portf

# data in each level should be unique
# parents and their children cannot be the same
# levels used for the hierarchical chart
# color_columns used for the colorscale
levels = ['level_1', 'level_0'] 
value_column = 'value'
color_columns = ['value']

sunburst_df = build_hierarchical_dataframe(portf, levels, value_column, color_columns)
sunburst_df

                    id        parent value  color
0                               Cash   150    150
1     Bond Derivatives  Fixed Income   140    140
2                Bonds  Fixed Income   200    200
3   Equity Derivatives      Equities   260    260
4              Futures   Commodities   200    200
5               Stocks      Equities   500    500
6                 Cash     Portfolio   150    150
7          Commodities     Portfolio   200    200
8             Equities     Portfolio   760    760
9         Fixed Income     Portfolio   340    340
10           Portfolio                1450   1450

In [25]:
### Build a Dashboard

In [26]:
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go
import plotly.figure_factory as ff

import dash
import dash_auth
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output, State

In [27]:
# setting
USERNAME_PASSWORD_PAIRS = [['User', '003'],['Admin', '001']]

# https://plotly.com/python/builtin-colorscales/
colors = {'background': '#111111', 'text': '#7FDBFF', 'colorscale': 'Magma'}
stock_options = [{'label': stocks[i], 'value': tickers[i]} for i in range(len(tickers))]
margins = {'text': '5px 80px 5px 80px', 
           'figure': {'l': 80, 'r': 80, 't': 40, 'b': 40},
           'table': {'l': 80, 'r': 80, 't': 40, 'b': 0}
          }

min_date = updated_data.index.min().date()
max_date = updated_data.index.max().date()

In [28]:
app = dash.Dash()
auth = dash_auth.BasicAuth(app,USERNAME_PASSWORD_PAIRS)
server = app.server

app.layout = html.Div([
    html.H1(children='Stock Data',
            style={'textAlign': 'center', 
                   'color': colors['text']
                  }
           ),

    
    dcc.Graph(id='sunsurs',
              figure={'data':[{'type': 'sunburst',
                               'labels' : sunburst_df['id'], 
                               'parents' : sunburst_df['parent'],
                               'values' : sunburst_df['value'],
                               'branchvalues':'total',
#                                'marker':dict(colors= sunburst_df['color'],
#                                              colorscale= colors['colorscale'],
#                                              cmid= sunburst_df['color'].mean()),
                               'name': 'yearlyss return'}
                             ],
                     'layout': {'title': 'Current Portfolio',
                                'color': colors['text'],
                                'margin': dict(t=40, l=0, r=0, b=10),
                               }
                     }
             ),
    
    
    
    html.Div(children='History Data', 
             style={'color': colors['text'], 
                    'margin': margins['text']
                   }
            ),
    
    dcc.DatePickerRange(id='my_date_range',
                        min_date_allowed=min_date,
                        max_date_allowed=max_date,
                        initial_visible_month=max_date,
                        # initial start-date and end-date 
                        start_date=min_date,
                        end_date=max_date,
                        style={'margin': margins['text']
                              }
                       ),
    
    html.Div(children='Select Stocks', 
             style={'color': colors['text'],
                    'margin': margins['text']
                   }
            ),
    
    dcc.Dropdown(id='my_stocks',
                 options=stock_options,
                 # initial value
                 value=['SPY','AAPL'],
                 multi=True,
                 style={'margin': 'auto',
                       'width': '95%'}
                ),
    
    dcc.Graph(id='my_graph_price',
              figure={'data':[{'x': updated_data.index, 
                               'y': updated_data['SPY']}
                             ],
                      'layout': {'title': 'SPY Price',
                                 'margin': margins['figure']
                                }
                     }
             ),
    
    
    dcc.Graph(id='my_graph_return',
              figure={'data':[{'x': result['SPY_return'], 
                               'xbins': dict(size=0.5), 
                               'type': 'histogram',
                               'name': 'SPY'}
                             ],
                     'layout': {'title': 'Histogram of Daily Return (%)',
                                'margin': margins['figure']
                               }
                     }
             ),

    
    dcc.Graph(id='my_graph_corr',
              figure={'data':[{'x': corr_df['stock1'], 
                               'y': corr_df['stock2'],
                               'z': corr_df['corr'],
                               'type': 'heatmap',
                               'name': 'Heatmap',
                               'colorscale': colors['colorscale']}
                             ],
                     'layout': {'title': 'Correlation',
                                'margin': margins['figure']
                               }
                     }
             ),
    

    


    dcc.Graph(id='my_graph_table',
              figure={'data':[{'header': dict(values=yearly_return.columns), 
                               'cells': dict(values=[yearly_return[stock].values for stock in yearly_return.columns]), 
                               'type': 'table',
                               'name': 'yearly return'}
                             ],
                     'layout': {'title': 'Yearly Return (%)',
                                'margin': margins['table']
                               }
                     }
             )
])


@app.callback(Output('my_graph_price', 'figure'), 
              [Input('my_stocks', 'value'),
               Input('my_date_range', 'start_date'),
               Input('my_date_range', 'end_date')]
             )

def update_graph(selected_dropdown_value,start_date,end_date):
    
    temp = updated_data[start_date:end_date]
    
    temp_data = []
    for stock in selected_dropdown_value:
        temp_data.append({'x': temp.index, 'y': temp[stock], 'name': stock})
        
    return {'data': temp_data, 
            'layout': {'title': 'Stock Price',
                       'margin': margins['figure']
                      }
           }



@app.callback(Output('my_graph_return', 'figure'), 
              [Input('my_stocks', 'value'),
               Input('my_date_range', 'start_date'),
               Input('my_date_range', 'end_date')]
             )

def update_graph_hist(selected_dropdown_value,start_date,end_date):
    
    temp = result[start_date:end_date]
    
    temp_data = []
    for stock in selected_dropdown_value:
        temp_data.append({'x': temp[stock+'_return'], 
                          'xbins': dict(size=0.5),
                          'type': 'histogram',
                          'name': stock})

    return {'data': temp_data, 
            'layout': {'title': 'Histogram of Daily Return (%)',
                       'margin': margins['figure']
                      }
           }


@app.callback(Output('my_graph_corr', 'figure'), 
              [Input('my_date_range', 'start_date'),
               Input('my_date_range', 'end_date')]
             )

def update_graph_corr(start_date,end_date):
    
    temp = result[start_date:end_date]
    correlation = temp[return_list].corr()
    corr_df = pd.DataFrame([(i.split('_')[0],j.split('_')[0], round(correlation[i][j],2)) for i in return_list for j in return_list], columns=['stock1', 'stock2', 'corr'])
    
    temp_data = [{'x': corr_df['stock1'], 
                  'y': corr_df['stock2'],
                  'z': corr_df['corr'],
                  'type': 'heatmap',
                  'name': 'Heatmap',
                  'colorscale': colors['colorscale']
                 }]
    
    return {'data': temp_data, 
            'layout': {'title': 'Correlation between '+ str(start_date)+' and '+ str(end_date),
                       'margin': margins['figure']
                      }
           }


if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [16/Jun/2020 23:25:34] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:25:35] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:25:35] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:25:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:25:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:25:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:26:47] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:26:47] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:26:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:26:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:26:50] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [16/Jun/2020 23:26:50] "POST /_dash-update-component HTTP/1.1" 200 -